/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Box-Sizing Fix */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*font-size default*/


/*************
Layout
*************/
body {
  /*background: url("file:///Users/mg/js_exercises/websites/free_code_camp/twitch/assets/images/background.jpg") no-repeat center center fixed;*/
  /*background: url("http://www.intrawallpaper.com/static/images/light_textured_backround_GnbGFCY.jpg") no-repeat center center fixed;*/
  background: url("http://res.cloudinary.com/dyr8j9g6m/image/upload/v1469508793/background_gx5wbz.jpg") no-repeat center center fixed;
  background-size: cover;
  font-size: 62.5%;
  font-family: 'Catamaran', helvetica, arial, sans-serif;
}

main {
  margin: 0 auto;
  background: #c0c0c0;
  width: 100%;
}

@media screen and (min-width: 600px) {
  main {
    width: 600px;
  }
}

/****************
Module
****************/

header {
  background: rgb(0,0,0);
  color: rgb(255,255,255);
  text-transform: uppercase;
  height: 80px;
  position: relative;
}

@media screen and (min-width: 600px) {
  header {
    margin-top: 1.5625%;
  }
}

.title {
  position: absolute;
  top: 30px;
  left: 7px;
}

.title p {
  display: inline-block;
  font-weight: bold;
  font-size: 2.4em; /*24px*/
  margin-top: -150px;
}

header div {
  display: inline-block;
}

header div p {
  font-weight: 300;
  font-size: 1.2em;
  text-align: right;
  display: inline-block;
  margin-left: 3px;
}

.containOptions {
  position: relative;
}

.displayOption {
  display: block;
  margin-top: 5px;
  position: relative;
  left: 530px;
  background: rgb(225, 225, 230);
  padding: 2px;
}

.displayOption p {
  color: #dc143c;
}

.displayOption:first-child {
  margin-top: 10px;
}
.circle {
  background: transparent;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.allColor {
  border: 5px solid #ffa500;
}

.onlineColor {
  border: 5px solid #0ff;
}

.offlineColor {
  border: 5px solid #ff00ff;
}

nav {
  width: 600px; /* don't think this needs to be recalculated */
  background: #eee;
  margin: 0 auto;
  padding: 10px;
  margin-top: 5px;
  position: relative;
}

nav div:first-child {
  margin-right: 5px;
}

nav div {
  display: inline-block;
}

.fa-search {
  font-size: 2em;
}

nav p {
  display: inline-block;
  margin-left: 5px;
  font-size: 1.6em;
  color: #666;
}

input {
  outline: none;
  border: none;
  font-size: 1.6em;
  background: #eee;
  width: 550px;
}

/*****************
Users
*****************/

.users {
  width: 572px;
  margin: 0 auto;
}

.users img {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  float: left;
}

.online,
.offline,
.unavailable {
  height: 79px;
  padding: 10px; 
}

.username,
.userinfo {
  color: white;
  margin-left: 60px;
}

.username {
  font-weight: 500;
  font-size: 1.8em;
}

.userinfo {
  font-weight: 300;
  font-size: 1.6em;
}

.online {
  background: #0ff;
}

.offline {
  background: #ff00ff
}

.unavailable {
  background: #444;
}

/*************
State
*************/
::-webkit-input-placeholder {
  color: #222;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #222;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #222;
}
:-moz-placeholder { /* Firefox 18- */
  color: #222;
}

.displayOption :hover {
  cursor: pointer;
}